.gitignore
mikrotik.md
mikrotik/
aws/ansible/.ssh/
tmp/
l1.code-workspace
.vscode/
todo.md
terraform/.terraform/*
terraform/.terraform.lock.hcl
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform-aws/.ssh/
terraform-aws/terraform.tfstate
.gitignore
terraform-aws/.terraform/providers/registry.terraform.io/hashicorp/aws/4.54.0/linux_amd64/terraform-provider-aws_v4.54.0_x5
terraform-aws/terraform.tfstate.backup
terraform-aws/.terraform.lock.hcl
aws/ansible/ansible.log
terraform-aws/var.tfvars
aws/ansible/hosts
